.centerDivV{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centerDivH{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item-horizontal-div-container{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.item-horizontal-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:#fff;
    border-radius: 15px;
    width: 500px;
    margin: 10px 20px;
}

.item-horizontal-div div{
    display: flex;
    align-items: center;
}
.delButtonDiv{
    display: flex;
    justify-content: end;
}

.suprButton{    
    margin: auto 50px;

    border: solid 1px darkred;
    border-radius: 10px;

    background-color: red;
    
}

.statusDiv{
    /* background-color: #A7E2DC; */
    border-radius: 15px;

    height: 30px;
    width: 75px;

    display: flex;
    justify-content: center;
}

.playerNameDisplay{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#fff;
    border: solid 3px #0064E0;
    border-radius: 15px;
    width: 100%;
}

/**Form**/
.form-container {
    /* background-color: #D7D4C6; */
    background-color: #fff;
    min-height: 100vh;
}

form{
    margin : auto 150px;
}

.listContainer{
    columns: 2 auto;
}



/* LeaderBoard */
.LeaderBoardiv{  
    border: solid;
    border-width: 0px 1px 1px 1px;
    border-color: lightgray;
    border-radius: 0px 0px 20px 20px;

    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 15px;
}


.textBoard{
    display: flex;
    flex-wrap: column;
    justify-content: space-between;
    width: 300px;
}

.leftRow{
    display: flex;
    justify-content: end;
}
