.centerDivV{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centerDivH{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item-horizontal-div-container{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.item-horizontal-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:#fff;
    border-radius: 15px;
    width: 500px;
    margin: 10px 20px;
}

.statusDiv{
    /* background-color: #A7E2DC; */
    border-radius: 15px;

    height: 30px;
    width: 75px;

    display: flex;
    justify-content: center;
}

/**Form**/
.form-container {
    /* background-color: #D7D4C6; */
    background-color: #fff;
    min-height: 100vh;
}

form{
    margin : auto 150px;
}

.listContainer{
    columns: 2 auto;
}