.buttonNabImg{
    margin: 15px 0;
    padding: 10px;
    width: auto;
    height: 65px;

    /* background-color: #85C9C2; */
    /* color: #2A4541; */
    border-radius: 15px;
    border-width: 0;

    font-size:large;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.bigbuttonNabImg{
    margin: 15px 0;
    width: auto;
    height: 100px;

    /* background-color: #85C9C2; */
    /* color: #2A4541; */
    border-radius: 15px;
    border-width: 0;

    font-size:large;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttonNabImg p {
    color:white;
    margin-top: 15px;
}

.link-without-underline {
    text-decoration: none;
}