/* Styles for the Winner and Indice section */
.head {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .leaderboard-header {
    border: 2px solid;
    border-color: #0064E0;
    padding: 20px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
  }
  
  /* Styles for the Winner's details */
  .winner-details {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .winner-details img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  /* Styles for the Indice Display */
  .indiceDisplay {
    border: 2px solid whitesmoke;
    border-radius: 10px;
    margin: 5px; /* Réduire la marge */
    padding: 8px; /* Réduire le rembourrage */
    box-shadow: 3px 3px 3px rgb(246, 246, 246); /* Réduire l'ombre */
  }
  
  /* Styles for the Losing Players Container */
  .losingPlayersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5px;
  }
  
  /* Styles for individual Player Containers */
  .playerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid whitesmoke;
    border-radius: 15px;
    background-color: white;
  }

  .soloContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ajoutez cette ligne pour occuper toute la largeur */
  }
  
  .solostat{
    border: solid 1px whitesmoke;
    border-radius: 15px;
    background-color: white;
    padding: 10px;
    margin: 5px;
    width: fit-content; /* Ajoutez cette ligne pour ajuster la largeur au contenu */
  }

  .center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
    

  /* Styles for the Graph Container */
  #vis-graph {
    height: 500px;
    margin: 5px;
    border: 2px solid #ccc;
    overflow: hidden;
  }
  