
.head{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.leaderboard-header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    width: fit-content;

    border-radius: 0px 0px 30px 30px;
    border: solid;
    border-width: 0 5px;

    padding: 20px;
}

.bottomEnd{
    display: flex;
    justify-content: space-around;
}

.winner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.playersContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-left: "5px"; */

    width: 100px;
    background-color: red;
}

.playerContainer{
    /* display: flex;
    align-items: center; */
    /* flex-direction: column; */

    /* width: 300px; */
    width: 30%;
    margin-bottom: 20px;
    /* margin-bottom: 10px; */

    border: solid 1px whitesmoke;
    border-radius: 15px;
    
    background-color: white;
}

.losingPlayersContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    margin: 10px 0; 
    
    max-width: 50%;
    
    overflow-y: scroll;
    max-height: 200px;
    /* background-color: yellow; */
}

.indiceDisplay{
    border: solid 2px whitesmoke;
    border-radius: 10px;
    margin: 0 15px 0 15px;
    padding: 10px;  
    box-shadow: 5px 5px 5px rgb(246, 246, 246);    
}

.SoloContainer{
    display: flex;
    flex-direction: column;
    align-items: center;

    border: solid 1px whitesmoke;
    border-radius: 15px;
    background-color: white;

    max-width: 50%;
}

.indicesolo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    /* margin: 10px 0;  */
    /* max-height: 200px; */
}

.solostat{
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.solostat p {
    border: solid 1px whitesmoke;
    border-radius: 15px;
    background-color: white;

    padding: 10px;
}