
.MainContainer{
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
    justify-content:space-around
}

.MidContainer{
    display: flex;
    /* justify-content:center; */
    align-items:center;
    flex-direction: column;

    margin-top: 15px;
    width: 30%;
}

.MidContainer div h2 {
    display: flex;
    justify-content: center;
}
/* 
.MidContainer div {
    display: flex;
    justify-content: center;
    flex-direction: column;
} */

.leftContainer{
    width: 30%;
}

.rightContainer{
    width: 30%;
}

.NewleftContainer{    
    margin: 20px 30px;
    width: 70%;
}

.NewrightContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

/* .textBoard div{
    display: flex;
    flex-direction:column-reverse;
    justify-content:space-between
} */

/* .textBoard div:nth-child(2){
    display: flex;
    justify-content: end;
} */

/**Button**/
.buttonGroupVertical{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}

.NewbuttonGroupVertical{
    display: flex;
    justify-content:space-around;
    align-items:start;
}


.ButtonNav{
    margin: 15px 0;
    width:200px;
    height: 8vh;

    /* background-color: #85C9C2;
    color: #2A4541; */
    color: white;

    border: solid;
    border-radius: 15px;
    border-width: 2px;

    font-size:larger;
}

.returnDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin:40px 15px;

    border: solid 2px whitesmoke;
    border-radius: 15px;
    
    background-color: white;
}

.returnDiv p {
    margin: 15px;
    padding: 10px;
    border: solid 1px whitesmoke;
    border-radius: 10px;

    font-weight:500;
}