.MainContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.MidContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    width: 30%;
}

.MidContainer div h2 {
    display: flex;
    justify-content: center;
}

.leftContainer {
    height: 100%;
    margin: 20px 30px;
    width: 70%;
}

.rightContainer {
    height: 100%;
    margin: 20px 30px;
    width: 30%;
}

.NewleftContainer {
    margin: 20px 30px;
    width: 70%;
}

.NewrightContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.buttonGroupVertical {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.NewbuttonGroupVertical {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.ButtonNav {
    margin: 15px 10px;
    width: 200px;
    height: 8vh;
    color: white;
    border: 2px solid #0056b3;
    border-radius: 15px;
    font-size: larger;
}

.ButtonNavRejoin {
    margin: 15px 10px;
    width: 200px;
    height: 8vh;
    color: white;
    background-color: aquamarine;
    border: 2px solid #0056b3;
    border-radius: 15px;
    font-size: larger;
}

.returnDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 15px;
    border: 2px solid whitesmoke;
    border-radius: 15px;
    background-color: white;
}

.returnDiv p {
    margin: 15px;
    padding: 10px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    font-weight: 500;
}
