.mainContainer{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.mainPDPContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid whitesmoke;
    border-radius: 15px;

    background-color: white;

    margin: 10px;

    min-height: 250px;
}

/*Lpart*/

.imgContainer{
    border: 5px solid black;
    border-radius: 50px;
    margin: 15px;
}



/*Rpart*/

.Rpart{
    
    min-width: 40%;
    min-height: 250px;
    margin: 20px;    
    padding: 20px;
    
    background-color: white;

    border: solid 1px whitesmoke;
    border-radius: 15px;
}


.username-display{
    display: flex;
}

.editbutton{
    border-color: white;
    background-color: white;
    border: none;

    margin-left: 15px;
    height: 25px;
    width: 25px;
}
.inputpseudo{
    display: 'flex';
    justify-content: 'flex-start';
    align-items: 'center';
    flex-direction: 'row';

    width: 20vw;
    padding: 5;

    border:none;
    border-bottom: solid 2px gray;
    border-radius: 5;

    font-size: 40px;
}

.bottom{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    
    height: 100px;
}

/*File upload*/
.parent {
    /* width: 250px; */
    /* margin: auto; */
    margin: 2rem;
    background: #ffffff;
    border-radius: 25px;
    /* box-shadow: 7px 20px 20px rgb(210, 227, 244); */
}
.file-upload {
    text-align: center;
    border: 3px dashed rgb(210, 227, 244);
    /* padding: 1.5rem; */
    position: relative;
    cursor: pointer;
    width: 100px;
    height: 50px;

}
.file-upload p {
    font-size: 0.5rem;
    /* margin-top: 10px; */
    color: #bbcada;
}
.file-upload input {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
}