.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.mainPDPContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid whitesmoke;
    border-radius: 15px;

    background-color: white;

    margin: 10px;
}

.imgContainer{
    border: 5px solid black;
    border-radius: 50px;
    margin: 15px;
}



/*File upload*/
.parent {
    /* width: 250px; */
    /* margin: auto; */
    margin: 2rem;
    background: #ffffff;
    border-radius: 25px;
    /* box-shadow: 7px 20px 20px rgb(210, 227, 244); */
}
.file-upload {
    text-align: center;
    border: 3px dashed rgb(210, 227, 244);
    /* padding: 1.5rem; */
    position: relative;
    cursor: pointer;
    max-width: 100px;
    max-height: 50px;
}
.file-upload p {
    font-size: 0.5rem;
    /* margin-top: 10px; */
    color: #bbcada;
}
.file-upload input {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
}